@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

:root {
  --black-color: #27272f;
  --green-color: #91ad41;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.section {
  padding-top: 80px;
  padding-bottom: 50px;
}
.main-button {
  background-color: #91ad41;
  color: white;
  padding: 15px 30px;
  text-transform: capitalize;
  border-radius: 8px;
  display: inline-block;
}
.main-button:hover,
.main-button:focus {
  color: white;
  cursor: pointer;
}
.main-section h3,
.second-section h3 {
  font-family: "Birthstone", cursive;
  font-size: 40px;
  color: #91ad41;
}
.main-section h2,
.second-section h2 {
  font-size: 36px;
  font-weight: 600;
  color: #27272f;
}
.main-section img,
.second-section img {
  margin-bottom: 1rem;
}
.main-section p {
  width: 70%;
  line-height: 1.8em;
  color: #8b8b99;
}
.second-section p {
  width: 90%;
  line-height: 1.8em;
  color: #8b8b99;
}
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #91ad41;
  border-radius: 22%;
  z-index: 25;
  transition: 0.5s;
  visibility: hidden;
  color: white;
  font-size: 24px;
}
.scroll-top:hover {
  cursor: pointer;
}
/* Show scrolltop */
/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
/*nav*/
.active-nav {
  position: fixed;
  z-index: 25;
  width: 100%;
  animation-name: fadeInDown;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  transition: all 1000ms ease-in-out;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
}
@keyframes fadeInDown {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

.navbar {
  background-color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: var(--black-color);
  font-size: 17px;
  font-weight: 500;
}
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: var(--black-color);
  font-size: 25px;
  border: 1px solid var(--black-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.active-link {
  color: #91ad41 !important;
}
.nav-item {
  margin-right: 15px;
}
/*header*/
header {
  background: url("../img/bn-blog_6182ffea-e5a7-4c20-8d8c-002e1254883e.webp")
    no-repeat;
  height: calc(70vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  text-align: center;
}
.header-content h4 {
  font-size: 30px;
  color: #27272f;
  text-transform: capitalize;
  font-weight: 600;
}
.header-content h2 {
  font-family: "Birthstone", cursive;
  font-size: 30px;
  color: #91ad41;
}
.header-content h2,
.header a {
  font-family: "Birthstone", cursive;
  font-size: 30px;
  color: #91ad41;
}
/*filter*/
.products-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.filter span {
  font-size: 16px;
  font-weight: 600;
}
.sorted p {
  color: #8d8d99;
  font-size: 16px;
  text-transform: capitalize;
}
.dropdown-toggle {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.dropdown-toggle:hover {
  color: #91ad41;
}
.dropdown-menu {
  min-width: 12rem;
}
.dropdown-menu li .dropdown-item {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}
.dropdown-menu li .dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-menu li .dropdown-item:hover {
  color: #91ad41;
  background-color: transparent;
}
.fa-bars {
  font-size: 18px;
  cursor: pointer;
  color: #8d8d99;
}
.items-total {
  color: #8d8d99;
  font-size: 16px;
}
.grid-icon {
  cursor: pointer;
  color: #91ad41;
}
/*product card*/
.product-cards {
  margin-top: 50px;
}
.product-card {
  background-color: #f3f4f9;
  text-align: center;
  padding-bottom: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(231, 233, 243, 0.5);
}
.product-card:hover {
  box-shadow: 1px 1px 20px -6px rgb(60 64 67 / 30%);
  cursor: pointer;
}
.product-card i {
  padding-top: 25px;
  color: #f7cb1d;
}
.product-name,
.blog-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #27272f;
}
.product-price {
  color: #91ad41;
  font-size: 17px;
  font-weight: 500;
}
.product-card-img {
  position: relative;
  max-width: 100%;
}
.product-card-img img {
  width: 100%;
  margin: auto;
}
.product-card-img span {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e3b375;
  padding: 2px 16px;
  color: #fff;
  border-radius: 34px;
}
.pagination-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.page-item.active .page-link {
  background-color: #91ad41;
  color: #fff;
}
.page-item {
  margin-left: 10px;
}
.page-link {
  border: none;
  background-color: #f5f6fb;
  color: #8d8d99;
  padding: 0.5rem 1rem;
  transition: all 0.5 ease-in-out;
}
.page-link:hover {
  background-color: #91ad41;
  color: #fff;
}
.page-disabled {
  opacity: 0.5;
}
.page-disabled:hover {
  background-color: #f5f6fb;
  color: #8d8d99;
}
/*subscribe*/
.subscribe {
  background: url("../img//bg1_7bd11421-2607-454f-820d-2fe96bd6ae4d.png")
    center/cover no-repeat;
  background-color: rgb(247, 238, 226);
}
.subscribe-text h3 {
  font-size: 40px;
  color: #27272f;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 0;
  position: relative;
  z-index: 100;
}
.input-subscribe {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 52px;
  width: 80%;
  padding-left: 20px;
  position: relative;
  margin-right: 10px;
  color: #8d8d99;
}
.subscribe-button {
  display: inline;
}
/*footer*/
.footer {
  padding-top: 80px;
}
.footer-content {
  padding-bottom: 50px;
}
.footer .contact h6 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: #27272f;
  margin-bottom: 30px;
}
.footer .contact h6::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 15%;
  height: 1px;
  background-color: #91ad41;
}
.footer .contact p {
  padding-bottom: 20px;
  font-size: 14px;
  color: #8d8d99;
}
.icon-footer {
  padding: 6px 7px;
  background-color: rgba(145, 173, 65, 0.1);
  border-radius: 50%;
  font-size: 12px;
  color: #91ad41;
}
.nav-list {
  color: #8d8d99;
  padding-left: 10px;
  font-size: 15px;
}
.footer-item {
  margin-bottom: 20px;
}
.icon-follow {
  color: #91ad41;
}
.Follow-item {
  margin-bottom: 10px;
}
.follow-item-name {
  cursor: pointer;
}
.follow-item-name:hover {
  color: #91ad41;
}
.userful {
  margin-bottom: 8px;
}
.oars-title-body {
  color: #8d8d99;
  width: 94%;
  margin: auto;
  margin-top: 30px;
}
.footer-end {
  background-color: #f7eee2;
  padding: 20px 0;
}
.footer-end h6 {
  text-align: center;
  font-size: 15px;
  color: #8d8d99;
}
.them-name {
  color: #27272f;
}
.footer-image-bottom {
  max-width: 100%;
}
.footer-image-bottom img {
  width: 100%;
}
.footer-item {
  padding-left: 0;
}
